@charset "utf-8";

// -------------------------------------------------
// Vendor Overrides
// ---------------------------------------------- */
// @import "vendor_overrides/bootstrap";
// @import "vendor_overrides/flexslider";
// @import "vendor_overrides/gravityforms";


// -------------------------------------------------
// Framework
// ---------------------------------------------- */
@import "framework/flask";
@import "framework/typography";


// -------------------------------------------------
// Modules
// ---------------------------------------------- */
@import "modules/social-icons";


// -------------------------------------------------
// Partials
// ---------------------------------------------- */


// -------------------------------------------------
// Header
// ---------------------------------------------- */
@import "body/header";


// -------------------------------------------------
// Layout
// ---------------------------------------------- */
body {}

.inner {
	@include outer-container();
	@include box-sizing(content-box);
	padding-left: 4%;
	padding-right: 4%;

	@include media($medium) {
		padding-left: 2%;
		padding-right: 2%;
	}
}


// -------------------------------------------------
// Footer
// ---------------------------------------------- */
@import "body/footer";


// -------------------------------------------------
// Views
// ---------------------------------------------- */
@import "page/_default";
@import "sidebar/_default";
// @import "page/home";
