// -------------------------------------------------
// Bootstrap
// ---------------------------------------------- */
@import "bootstrap/dist/css/bootstrap";


// -------------------------------------------------
// Reset
// ---------------------------------------------- */
@import "framework/reset";


// -------------------------------------------------
// Vendor
// ---------------------------------------------- */
// @import "vendor_overrides/bootstrap";
// @import "flexslider/flexslider";
// @import "vendor_overrides/flexslider";
// @import "vendor_overrides/gravityforms";


// -------------------------------------------------
// Framework
// ---------------------------------------------- */
@import "framework/flask";
@import "framework/typography";


// -------------------------------------------------
// Modules
// ---------------------------------------------- */


// -------------------------------------------------
// Header
// ---------------------------------------------- */
@import "partials/header";


// -------------------------------------------------
// Layout
// ---------------------------------------------- */
body {
	padding: 0 3%;
}

.wrapper {
	background: #ccc;

	@include media($small) {
		@include span-columns(6);
		@include shift(3);
	}
	@include media($medium) {}
	@include media($large) {}

	.inner {
		@include outer-container();
	}
}


// -------------------------------------------------
// Footer
// ---------------------------------------------- */
@import "partials/footer";


// -------------------------------------------------
// Partials
// ---------------------------------------------- */
@import "modules/social-icons";


// -------------------------------------------------
// Views
// ---------------------------------------------- */
@import "page/_default";
// @import "page/home";
